  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Cairo:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Open+Sans&family=Pacifico&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins' sans-serif;
  }

  body {
      background: #050e2d;
  }
/* Scroll bar */
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: #1aeee1;
    border-radius: 6px;
}
  header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 7px 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: rgb(0,98,120);
background: linear-gradient(180deg, rgba(0,98,120,1) 0%, rgba(0,60,91,1) 33%, #050e2d 100%);
      transition: 0.5s;
      z-index: 1000;
  }
  header.sticky{
    background-color: #1b2141;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  header .logo {
      position: relative;
      color: #fff;
      text-decoration: none;
      font-size: 2em;
      font-weight: 700;
  }

  header .nav {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  header ul li {
      list-style: none;
      margin: 10px;
  }

  header ul li a {
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
  }

  header ul li a:hover {
      background-color: #1aeeef;
      color: #050e2d;
      box-shadow: 0 0 10px #1aeeef;
  }

  header .action .searchBx {
      padding: 5px;
      margin: 5px;
      margin-left:50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 230px;
      background-color: #fff;
      border-radius: 5px;
  }
  .header-username{
    color:#fff;
  }

  header .action .searchBx i {
      font-size: 1.4em;
      margin: 5px;
      color: #222;
  }

  header .action .searchBx input {
      outline: none;
      border: none;
      font-size: 1em;
      color: #222;
  }

  /* Home section */
  .banner {
      position: relative;
      width: 100%;
      min-height: 100vh;
      padding: 0px 100px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .banner .bg {
      position: relative;
      width: 100%;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .banner .bg .content {
      width: 50%;
      height: 100%;
  }

  .banner .bg .content h2 {
      font-size: 4em;
      color: #fff;
      letter-spacing: 1px;
  }

  .banner .bg .content p {
      font-size: 1em;
      color: #dbd9d9;
      letter-spacing: 1px;
  }

  .banner .bg .content a {
      display: inline-block;
      padding: 10px 20px;
      margin: 20px 0;
      border: 1px solid #1aeeef;
      font-weight: 700;
      border-radius: 5px;
      text-decoration: none;
      color: #fff;
      letter-spacing: 1px;
  }

  .banner .bg .content a:hover {
      background-color: #1aeee1;
      border: none;
      color: #050e2d;
      box-shadow: 0 0 10px #1aeeef;
  }

  .banner .bg img {
      width: 600px;
  }

  .about {
      position: relative;
      width: 100%;
      min-height: 75vh;
      margin-top:10vh;
      padding: 0px 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .about .contentBx{
    width: 50%;
    margin:20px;
  }
  .about .contentBx h2{
    font-size: 3em;
    font-weight: 700;
    color:#fff;
  }
  .about .contentBx p{
    max-width: 600px;
    text-align: justify;
    color:#dbd9d9;
  }
  .about .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1aeeef;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
}

.about .contentBx a:hover {
    background-color: #1aeee1;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}

/* Games */

.games{
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:60px auto;
}

.games h2{
    color:#fff;
    margin:10px 0;
}
.games ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.games ul li{
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin:5px;
    letter-spacing: 1px;
    cursor: pointer;
    color:#fff;
}

.games ul li.active{
    background:#1aeee1;
    color:#050e2d;
    box-shadow: 0 0 10px #1aeee1;
}
.games .cardBx{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.games .cardBx .card{
    width: 280px;
    border-radius:10px;
    margin:20px 40px;
    background-color: #1b2141;
    overflow:hidden;
}

.games .cardBx .card img{
    width: 100%;
    height: 250px;
    object-fit:cover;
}
.games .cardBx .card .content{
    padding: 10px;
}
.games .cardBx .card .content h4{
    color:#fff;
    margin:15px 0;
}
.games .cardBx .card .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background:#35407e;
    margin-bottom: 15px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1)forwards;
}
.games .cardBx .card .progress-line span{
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background-color: #1aeee1;
    box-shadow: 0 0 10px #1aeee1;
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1)forwards;
}
@keyframes animate {
    100%{
        transform:scaleX(1) ;
    }
}
.games .cardBx .card .info{
    border-top:2px solid #35407e;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.games .cardBx .card .info p{
    font-size: 1em;
    color:#fff;
}
.games .cardBx .card .info p span{
    color: #1aeee1;
}
.games .cardBx .card .info a{
    display: inline-block;
    padding: 10px 20px;
    margin:20px 0;
    border:1px solid #1aeee1;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color:#fff;
    letter-spacing: 1px;
}
.games .cardBx .card .info a:hover{
    background:#1aeee1;
    border:none;
    color:#050e2d;
    box-shadow: 0 0 10px #1aeee1;
}
.games .cardBx .card.hide{
    display: none;
    transition: 0.5s all;
}
.games .cardBx .card.active{
    transition: 0.5s all;
}

/* Contact */

.contact{
    background:url('./public/images/contact.gif');
    background-size:auto;
    padding: 20px 100px;
    width: 60%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top:10vh;
    box-shadow: 0 0 15px #d1b514;
}
.contact .form{
    min-width: 40vh;
    width: 40%;
}
.contact img{
    width: 100%;
}
.contact .form h1{
    color:#fff;   
}
.contact .form .inputBx{
    margin: 10px 0;
}

.contact .form .inputBx p{
    color:#fff;
}

.contact .form .inputBx input,
.contact .form .inputBx textarea{
    border:none;
    outline :none;
    width: 100%;
    padding:10px;
    color:#fff;
    background-color: rgba(0,0,0,0.4);
    border-radius:10px;
    min-height: 15px;
    font-size: 1.1em;
}
.contact .form .inputBx textarea{
    height: 150px;
}
.contact .form .inputBx input[type="submit"]{
    display: inline-block;
    padding: 10px 20px;
    margin-left:12vh;
    outline:none;
    font-weight: 700;
    width: 150px;
    border-radius:5px;
    color:#fff;
    letter-spacing: 1px;
}
.contact .form .inputBx input[type="submit"]:hover{
    background:#d1b514;
    border:none;
    color:#050e2d;
}
/* footer */

footer{
    padding: 10px 100px;
}
footer .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .info .logo{
    position: relative;
    color:#fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}

footer .info p{
    color:#dbd9d9;
}
footer .info ul{
    margin:10px 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
footer .info ul li{
    list-style:none;
    height: 50px;
    width: 50px;
    margin:5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d1b514;
}
footer .info ul li:hover{
    background:#d1b514;
    border:none;
    box-shadow: 0 0 10px #d1b514;
}
footer .info ul li a i{
    color:#fff;
    font-size:1.5em;
}
footer .info ul li:hover a i{
    color:#050e2d;
}

 /* Responsive Design */

 @media(max-width: 991px){
    header{
        padding: 15px 40px;
    }
    .header-username{
        display: none;
    }
    header .nav{
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color: #1b2141;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index:1000;
    }
    header .nav.active{
        display: flex;

    }
    header .nav li{
        margin:20px 0;
    }
    header .nav li a{
        font-size:24px;
        margin:10px 0;
    }
    .toggleMenu{
        position: relative;
        width: 30px;
        height: 30px;
        background:url(./public/images/menu.png);
        background-position: center;
        background-size:30px;
        background-repeat:no-repeat;
        cursor: pointer;
        z-index:1001;
    }
    .toggleMenu.active{
        background:url(./public/images/close.png);
        background-position: center;
        background-size:30px;
        background-repeat:no-repeat;
    }
    .banner .bg img{
        position: absolute;
    }
    .banner .bg .content{
        width: 100%;
        height: 100%;
        background:rgb(27 33 65/ 50%);
        padding:20px;
        z-index:1;
        border-radius: 10px;
    }
    .about{
        flex-direction: column;
    }
    .about .contentBx{
        width: 100%;
    }
 }
.login-container{
    margin: 0;
	padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
}

 .main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.login label{
    color: #fff;
	font-size: 2.7em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.signup label{
    color: #fff;
	font-size: 2.7em;
	justify-content: center;
	display: flex;
	margin: 40px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.login-container input{

	width: 60%;
	height: 30px;
	background: #e0dede;
	justify-content: center;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.email-container, .password-container, .username-container{
    display: flex;
}
.login-container button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #1aeeef;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.login-container button:hover{
	background: #06cece;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 50% / 8%;
	transform: translateY(-160px);
	transition: .8s ease-in-out;
}
.login label{
	color: #1aeeef;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

.error{
    position: absolute;
    right:30px;
    margin-top:2.5vh;
    display: flex;
    align-items: center;
    color:red;
    width: 30px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Styles for the popup message box */
.popup-message {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
}
